eiin839/MINI_PROJECT/ClientHeavySoap/Connected Services/ServiceReference2/Routing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Routing" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServeurRouting/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServeurRouting/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServeurRouting/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServeurRouting" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRouting_ComputeClosestStation_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeClosestStation" />
  </wsdl:message>
  <wsdl:message name="IRouting_ComputeClosestStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeClosestStationResponse" />
  </wsdl:message>
  <wsdl:message name="IRouting_ComputeAvailibility_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeAvailibility" />
  </wsdl:message>
  <wsdl:message name="IRouting_ComputeAvailibility_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeAvailibilityResponse" />
  </wsdl:message>
  <wsdl:message name="IRouting_StoreItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreItinerary" />
  </wsdl:message>
  <wsdl:message name="IRouting_StoreItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreItineraryResponse" />
  </wsdl:message>
  <wsdl:message name="IRouting_ComputeItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeItinerary" />
  </wsdl:message>
  <wsdl:message name="IRouting_ComputeItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeItineraryResponse" />
  </wsdl:message>
  <wsdl:portType name="IRouting">
    <wsdl:operation name="ComputeClosestStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouting/ComputeClosestStation" message="tns:IRouting_ComputeClosestStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouting/ComputeClosestStationResponse" message="tns:IRouting_ComputeClosestStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeAvailibility">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouting/ComputeAvailibility" message="tns:IRouting_ComputeAvailibility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouting/ComputeAvailibilityResponse" message="tns:IRouting_ComputeAvailibility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouting/StoreItinerary" message="tns:IRouting_StoreItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouting/StoreItineraryResponse" message="tns:IRouting_StoreItinerary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouting/ComputeItinerary" message="tns:IRouting_ComputeItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouting/ComputeItineraryResponse" message="tns:IRouting_ComputeItinerary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRouting" type="tns:IRouting">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComputeClosestStation">
      <soap:operation soapAction="http://tempuri.org/IRouting/ComputeClosestStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeAvailibility">
      <soap:operation soapAction="http://tempuri.org/IRouting/ComputeAvailibility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreItinerary">
      <soap:operation soapAction="http://tempuri.org/IRouting/StoreItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeItinerary">
      <soap:operation soapAction="http://tempuri.org/IRouting/ComputeItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Routing">
    <wsdl:port name="BasicHttpBinding_IRouting" binding="tns:BasicHttpBinding_IRouting">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServeurRouting/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>