eiin839/MINI_PROJECT/ServeurRouting/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proxy" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListStation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListStations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStation" message="tns:IService1_GetStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStationResponse" message="tns:IService1_GetStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListStation" message="tns:IService1_GetListStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListStationResponse" message="tns:IService1_GetListStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAll" message="tns:IService1_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllResponse" message="tns:IService1_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListStations" message="tns:IService1_GetListStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListStationsResponse" message="tns:IService1_GetListStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Proxy/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>